<% if @member.is_pet %>
<h1>Pet member</h1>
<% end %>
<%= @member.name %>
<%= link_to 'Add event', new_user_member_event_path(@user, @member) %>
<% @member.events.each do |event| %>
  <li><%= link_to event.title, user_member_event_path(@user, @member, event) %></li>
<% end %>

<%= link_to 'delete member', user_member_path(@user, @member), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

<%= link_to 'add note', new_user_member_note_path(@user, @member, @note) %>
